@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 350px;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #731b73;
}

/*Cabeçalho*/
header {
    width: 100%;
    height: 80px;
    padding: 35px 0;
    text-align: center;
    background-color: #530053;
}

header h1 {
    height: 80px;
    width: 350px;
    margin: auto;
    font-size: 32px;
    font-weight: 900;
    color: #ffffff;
}
/*Cabeçalho*/

/*Conteudo Principal*/
main {
    max-width: 940px;
    margin: auto;
    margin-bottom: 50px;
    padding: 30px;
    background-color: #cacaca;
}

main h2 {
    margin-bottom: 30px;
    height: 26px;
    font-size: 26px;
    color: #101010;
}

main p {
    margin-bottom: 30px;
    font-size: 22px;
}

main ul {
    margin-bottom: 30px;
    list-style-position: inside;
    font-size: 22px;
}

main img, main video {
    width: 100%;
    margin-bottom: 10px;
}

#bottom {
    margin: 0;
}
/*Conteudo Principal*/

/*Rodapé*/
footer {
    max-width: 940px;
    margin: auto;
    padding: 30px;
    background-color: #cacaca;
}

footer h2 {
    margin-bottom: 30px;
    height: 26px;
    font-size: 26px;
    color: #101010;
}

footer p {
    margin-bottom: 30px;
    font-size: 22px;
}

footer ul {
    list-style-position: inside;
    font-size: 22px;
}

footer a {
    height: 22px;
    margin-left: 3px;
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}
/*Rodapé*/

/*Media Queries*/
@media (max-width: 999px) {
    main h2, footer h2 {
        height: 24px;
        font-size: 24px;
    }

    main p, footer p, main ul, footer ul {
        font-size: 18px;
    }
}

@media (max-width: 432px) {
    .bug {
        height: 55px;
    }
}
/*Media Queries*/